<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Plantilla</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

	<link href="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.1.8/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.1.8/datatables.min.js"></script>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<link rel="stylesheet" href="css/bootstrapValidator.css">

	<script type="text/javascript" src="js/bootstrapValidator.js"></script>
	<script type="text/javascript" src="js/global.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"></script>  


</head>
<body>
<!--crear fragmento "cabecera" -->
<div th:fragment="cabecera5">
	<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
		<div class="container">
			<div class="navbar-header">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">
						<img src="../img/img.png" alt="img Logo" style="width:50px;"
							 class="rounded-pill">
					</a>
				</div>
			</div>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="mynavbar">
				<!--<ul class="navbar-nav me-auto mb-2 mb-lg-0" style="padding-left: 30px;">
					<li class="nav-item" th:each="bean:${session.ENLACES}">
						<a class="nav-link" th:text="${bean.descripcion}" th:href="${bean.ruta}" ></a>
					</li>

				</ul>-->
				<ul class="navbar-nav me-auto mb-2 mb-lg-0" style="padding-left: 10px;">
					<li class="nav-item"><a class="nav-link" href="/productos">Productos</a></li>
					<li class="nav-item"><a class="nav-link" href="/proveedores">Proveedores</a></li>
				</ul>



				<!--<ul class="navbar-nav ml-auto">
					<div class="flex" style="width:200px!important;padding-top: 10px;font-weight:bold ">
						<span class="text-white">Usuario: </span><span class="text-white" th:text="${session.datosUsuario}"></span>
					</div>
					<span class="nav-item nav-link"></span>
					<form method="post" th:action="@{/logout}">
						<input type="submit" class="btn btn-success" value="Cerrar sesión">
					</form>
				</ul>-->
			</div>
		</div>
	</nav>
</div>

<!--crear fragmento "pie" -->
<div th:fragment="modelsProducto">

	<!-- The Modal -->
	<div class="modal" id="id_div_modal_producto">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="text-center">
						<i class="bi bi-clipboard2-check"></i>  ::
						DATOS PRODUCTO  ::
					</h4>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<form method="POST" id="id_form_producto" class="needs-validation" novalidate>
						<input type="hidden" id="id_producto_ID" name="cod_producto" value="0">
						<div id="accordion_reg_prod">

							<div class="card">
								<div class="card-header">
									<h4 class="text-center" >
										Datos de Productos
									</h4>
								</div>
								<div  class="collapse show" >
									<div class="card-body">

										<div class="row form-group mb-3">
											<div class="col-sm-6">
												<label class="col-lg-4 form-label"
													   for="id_reg_cod_prod">Codigo </label>
												<div class="input-group col-lg-8 ">
														<span class="input-group-text"><i
																class="bi bi-boxes"></i></span>
													<input
														class="form-control input-sm" type="text"
														id="id_reg_cod_prod" name="cod_prod"
														autocomplete="off" placeholder="Ingrese el codigo" required>
													<div class="valid-feedback">
														Correcto
													</div>
													<div class="invalid-feedback">
														Campo Obligatorio
													</div>
												</div>
											</div>
											<div class="col-sm-6 ">
												<label class="col-lg-4 form-label"
													   for="id_reg_sto_prod">Cantidad </label>
												<div class="input-group col-lg-8 ">
														<span class="input-group-text"><i
																class="bi bi-boxes"></i></span><input
														class="form-control input-sm" type="number" step="any"
														id="id_reg_sto_prod" name="sto_prod" autocomplete="off"
														placeholder="Ingrese el Stock" required>

													<div class="valid-feedback">
														Correcto
													</div>
													<div class="invalid-feedback">
														Campo Obligatorio
														</div>
												</div>
											</div>

										</div>

										<div class="row form-group mb-3">

											<div class="col-sm-6">
												<label class="col-lg-4 form-label" for="id_reg_tipo_moneda">Tipo
													Moneda </label>
												<div class="input-group col-lg-8">
                                                <span class="input-group-text"><i
														class="bi bi-box2-heart-fill"></i></span>
													<select id="id_reg_tipo_moneda" name="tip_mone"
															class="form-select" required>
														<option value="">[Seleccione]</option>
													</select>
													<div class="valid-feedback">
														Correcto
													</div>
													<div class="invalid-feedback">
														Por favor seleccione un tipo de moneda.
													</div>
												</div>
											</div>
											<div class="col-sm-6 ">
												<label class="col-lg-4 form-label"
													   for="id_reg_pre_prod">Precio Unitario</label>
												<div class="input-group col-lg-8 ">
														<span class="input-group-text"><i class="bi bi-currency-dollar"></i></span><input
														class="form-control input-sm" type="number" step="any"
														id="id_reg_pre_prod" name="pre_prod" autocomplete="off"
														placeholder="Ingrese el Precio" required>
													<div class="valid-feedback">
														Correcto
													</div>
													<div class="invalid-feedback">
														Campo Obligatorio
													</div>

												</div>
											</div>
										</div>

										<div class="row form-group mb-3">
											<div class="col-sm-6">
												<label class="col-lg-4 form-label" for="id_reg_tipo_documento">Tipo Documento </label>
												<div class="input-group col-lg-8">
                                                <span class="input-group-text"><i
														class="bi bi-box2-heart-fill"></i></span>
													<select id="id_reg_tipo_documento" name="tip_docu"
															class="form-select" required>
														<option value="">[Seleccione]</option>
													</select>
													<div class="valid-feedback">
														Correcto
													</div>
													<div class="invalid-feedback">
														Por favor seleccione un tipo de documento.
													</div>
												</div>
											</div>
											<div class="col-sm-6">
												<label class="col-lg-4 form-label"
													   for="id_reg_nro_doc_prod">Nro. Documento </label>
												<div class="input-group col-lg-8 ">
														<span class="input-group-text"><i class="bi bi-file-earmark"></i></span><input
														class="form-control input-sm" type="text"
														id="id_reg_nro_doc_prod" name="doc_prod"
														autocomplete="off" placeholder="Ingrese el Nro de Documento" required>
													<div class="valid-feedback">
														Correcto
													</div>
													<div class="invalid-feedback">
														Campo Obligatorio
														</div>
												</div>
											</div>
										</div>

										<div class="form-group mb-3">
											<label class="col-lg-2 form-label"
												   for="id_reg_des_prod">Descripcion  </label>
											<div class="input-group col-lg-9 ">
													<span class="input-group-text"><i
															class="bi bi-boxes"></i></span><textarea
													class="form-control input-sm" type="text"
													id="id_reg_des_prod" name="des_prod" autocomplete="off"
													placeholder="Ingrese la Descripcion del Producto" required></textarea>
												<div class="valid-feedback">
													Correcto
												</div>
												<div class="invalid-feedback">
													Campo Obligatorio
												</div>
											</div>
										</div>

										<div class="row form-group mb-3">
											<div class="col-sm-6">
												<label class="col-lg-4 form-label" for="id_reg_catalogo">Tipo
												</label>
												<div class="input-group col-lg-8">
													<span class="input-group-text"><i class="bi bi-box2-heart-fill"></i></span>
													<select id="id_reg_catalogo" name="catalogo" class="form-select" required>
														<option value="">[Seleccione Tipo]</option>
														<option th:each="x:${catalogos}" th:utext="${x.descripcion}" th:value="${x.id_catalogo}" />
													</select>
													<div class="valid-feedback">
														Correcto
													</div>
													<div class="invalid-feedback">
														Por favor seleccione un tipo de producto.
													</div>
												</div>
											</div>
											<div class="col-sm-6">
												<label class="col-lg-4 form-label" for="id_reg_data_catalogo">Sub Tipo </label>
												<div class="input-group col-lg-8">
													<span class="input-group-text"><i class="bi bi-box2-heart-fill"></i></span>
													<select id="id_reg_data_catalogo" name="data_catalogo" class="form-select" required>
														<option data-popper-placement="[Seleccione Tipo]"></option>
													</select>
													<div class="valid-feedback">
														Correcto
													</div>
													<div class="invalid-feedback">
														Por favor seleccione un sub tipo de producto.
													</div>
												</div>
											</div>
										</div>


									</div>
								</div>
							</div>

						</div>

						<div class="row">
							<div class="form-group col-md-12 mt-3">
								<div class="col-md-12" align="center">
									<button type="button" class="btn btn-primary"
											id="id_btn_registra">Guardar
									</button>
									<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>
</div>

<!--crear fragmento "pie" -->
<div th:fragment="modelsProveedor">

	<!-- The Modal -->
	<div class="modal" id="id_div_modal_proveedor">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="text-center">
						<i class="bi bi-clipboard2-check"></i>  ::
						DATOS PROVEEDOR  ::
					</h4>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<form method="POST" id="id_form_proveedor" class="needs-validation" novalidate>
						<input type="hidden" id="id_proveedor_ID" name="cod_proveedor" value="0">
						<div id="accordion_reg_prov">

							<div class="card">
								<div class="card-header">
									<h4 class="text-center" >
										Datos de Proveedor
									</h4>
								</div>
								<div  class="collapse show" >
									<div class="card-body">

										<div class="row form-group mb-3 ">
											<!-- INICIO PANEL BUSCAR POR DOCUMENTO -->
											<div class="col-sm-6">
												<label class="col-lg-4 control-label"
													   for="id_buscar_api_numero_documento"> Numero RUC </label>
												<div class="input-group col-lg-8 ">
														<input
														class="form-control input-sm" type="text" min="11"
														id="id_buscar_api_numero_documento" name="ruc"
														autocomplete="off" placeholder="ingrese el numero de documento" required>
													<span class="input-group-text" type="button" id="btnConsultaSunat"><i
														class="bi bi-search"></i></span>

													<!--<div class="valid-feedback">
														<p id="txaCount"></p>
													</div>-->

												</div>
												<h6 id="id_msg_error_api_dni" style="display: none;color:red;">ERROR AL
													CONSULTAR EL DOCUMENTO
													-
													INTENTAR NUEVAMENTE</h6>
												<h6 id="id_msg_success_api_dni"
													style="display: none;color:rgb(36, 255, 94);">SE ENCONTRARON
													DATOS
												</h6>
											</div>
											<!-- FIN PANEL BUSCAR POR DOCUMENTO -->
											<div class="col-sm-6 ">
												<label class="col-lg-4 control-label"
													   for="id_reg_razon_social">Razon social </label>
												<div class="input-group col-lg-8 ">
														<span class="input-group-text"><i
																class="bi bi-boxes"></i></span><input
														class="form-control input-sm" type="text"
														id="id_reg_razon_social" name="razon_social" autocomplete="off"
														placeholder="Razon Social" required>
													<!--<div class="valid-feedback">
															<p id="txaCount2"></p>
														</div>-->
													<!--<div class="valid-feedback">
														Correcto
													</div>
													<div class="invalid-feedback">
														Campo Obligatorio
													</div>-->
												</div>
											</div>

										</div>

										<div class="form-group mb-3">
											<label class="col-lg-2 control-label"
												   for="id_reg_direccion_fiscal">Direccion </label>
											<div class="input-group col-lg-9 ">
													<span class="input-group-text"><i
															class="bi bi-boxes"></i></span>
												<input
														class="form-control input-sm" type="text"
														id="id_reg_direccion_fiscal" name="direccion_fiscal"
														autocomplete="off" placeholder="Direccion Fiscal" required>
												<!--<div class="valid-feedback">
													<p id="txaCount3"></p>
												</div>-->
												<!--	<div class="valid-feedback">
													Correcto
												</div>
												<div class="invalid-feedback">
													Campo Obligatorio
												</div>-->
											</div>
										</div>

										<div class="row form-group mb-3">

											<div class="col-sm-6">
												<label class="col-lg-4 control-label"
													   for="id_reg_condicion_ruc">Condicion </label>
												<div class="input-group col-lg-8">

													<span class="input-group-text"><i
															class="bi bi-boxes"></i></span>
													<input
															class="form-control input-sm" type="text"
															id="id_reg_condicion_ruc" name="condicion_ruc"
															autocomplete="off" placeholder="Condicion RUC" required>

													<!--
													<span class="input-group-text"><i
															class="bi bi-box2-heart-fill"></i></span>
													<select id="id_reg_condicion_ruc" name="condicion_ruc"
															class="form-select" required>
														<option value="">[Seleccione]</option>

													</select>-->
													<!--<div class="valid-feedback">
														<p id="txaCount4"></p>
													</div>-->
													<!--<div class="invalid-feedback">
														Campo Obligatorio
													</div>-->

												</div>
											</div>
											<div class="col-sm-6 ">
												<label class="col-lg-4 control-label"
													   for="id_reg_estado_ruc">Estado </label>
												<div class="input-group col-lg-8 ">
													<span class="input-group-text"><i
															class="bi bi-boxes"></i></span>
													<input
															class="form-control input-sm" type="text"
															id="id_reg_estado_ruc" name="estado_ruc"
															autocomplete="off" placeholder="Estado RUC" required>

													<!--<span class="input-group-text"><i
														class="bi bi-box2-heart-fill"></i></span>
													<select id="id_reg_estado_ruc" name="estado_ruc"
															class="form-select" required>
														<option value="">[Seleccione]</option>

													</select>-->
													<!--<div class="valid-feedback">
														<p id="txaCount5"></p>
													</div>-->
												</div>
											</div>
										</div>

										<div class="row form-group mb-3">
											<div class="col-sm-6">
												<label class="col-lg-4 control-label" for="id_reg_tipo_contacto">Tipo
													Contacto </label>
												<div class="input-group col-lg-8">
                                                <span class="input-group-text"><i
														class="bi bi-box2-heart-fill"></i></span>
													<select id="id_reg_tipo_contacto" name="tipo_contacto"
															class="form-select" required>
														<option value="">[Seleccione]</option>

													</select>
													<!--<div class="invalid-feedback">
														Por favor seleccione un tipo de contacto.
														</div>-->
												</div>
											</div>
											<div class="col-sm-6">
												<label class="col-lg-4 control-label"
													   for="id_reg_nombre_contacto"> Nombre </label>
												<div class="input-group col-lg-8 ">
														<span class="input-group-text"><i
																class="bi bi-boxes"></i></span><input
														class="form-control input-sm" type="text"
														id="id_reg_nombre_contacto" name="nombre_contacto" autocomplete="off"
														placeholder="Ingrese Nombre Contacto" required>
													<!--<div class="valid-feedback">
														<p id="txaCount6"></p>
													</div>-->
												</div>
											</div>
										</div>

										<div class="row form-group mb-3">
											<div class="col-sm-6">
												<label class="col-lg-4 control-label"
													   for="id_reg_telefono_prov">Telefono/Celular </label>
												<div class="input-group col-lg-8">
													<span class="input-group-text"><i
															class="bi bi-boxes"></i></span><input
														class="form-control input-sm" type="tel"
														id="id_reg_telefono_prov" name="telefono_contacto"
														autocomplete="off" placeholder="Ingrese Telefono" required>
													<!--<div class="valid-feedback">
														<p id="txaCount7"></p>
													</div>-->
												</div>
											</div>
											<div class="col-sm-6">
												<label class="col-lg-4 control-label"
													   for="id_reg_email_prov">E-mail </label>
												<div class="input-group col-lg-8 ">
														<span class="input-group-text"><i
																class="bi bi-boxes"></i></span><input
														class="form-control input-sm" type="email"
														id="id_reg_email_prov" name="email_contacto" autocomplete="off"
														placeholder="Ingrese Correo Electronico" required>
													<!--<div class="valid-feedback">
														<p id="txaCount8"></p>
													</div>-->
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>

						</div>

						<div class="row">
							<div class="form-group col-md-12 mt-3">
								<div class="col-md-12" align="center">
									<button type="button" class="btn btn-primary"
											id="id_btn_reg_prov">Guardar
									</button>
									<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>


</body>
</html>


    

    

